.logo2{
    display: none;
}

main{
    background: linear-gradient(rgba(227,97,33,.4), rgba(0,0,0,.5)) , 
    url(../images/pic4.jpg);
    background-size: cover;
}
.nav-color{
    background-color: rgba(231,29,54,0.9);
}
.navbar-brand:hover .logo1{
    display: none;
}
.navbar-brand:hover .logo2{
    display: block;
}
.nav-item{
    font-weight: bold;
    font-size: 26px;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #FFFFFF;
}
.player{
    color: white;
}
.player img{
    height: 250px;
}

footer{
    background-color: rgb(33,35,37);
    color: #fafafa;
}
footer img:nth-child(1){
    height: 150px;
}
footer li a{
    color:white;
}
.link{
    background-color: rgb(21, 22, 23);
}